@page "/"

<SlidingBubble/>
<div class="container" style="background-color:transparent">
    <div class="content" style="background-color:transparent">
        <MudPaper MaxWidth="720px" Elevation="0" Style="background-color:transparent">
            <MudPaper Class="d-flex flex-column flex-grow-1 gap-4" Elevation="0" Style="background-color:transparent">
                <MudList Style="background-color:#ffffff4d;border:4px solid #ffffffb3; border-radius:30px;box-shadow:inset">
                    <MudListItem>
                        <MudText Typo="Typo.h1">
                            <strong>
                                Chain Reaction
                            </strong>
                        </MudText>
                    </MudListItem>
                    <MudListItem>
                        <MudSelect T="int"
                                   Label="Number of Player"
                                   Variant="Variant.Outlined"
                                   AnchorOrigin="Origin.BottomCenter"
                                   @bind-Value="@Config.NumberOfPlayer"
                                   Class="custom-label-color">
                            <MudSelectItem T="int" Value="2" />
                            <MudSelectItem T="int" Value="3" />
                            <MudSelectItem T="int" Value="4" />
                            <MudSelectItem T="int" Value="5" />
                            <MudSelectItem T="int" Value="6" />
                        </MudSelect>
                    </MudListItem>
                    <MudListItem> 

                        <MudPaper Style="background-color: transparent; display: flex; justify-content: center; align-items: center;" Elevation="0">
                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Info"
                                       Size="Size.Large"
                                       OnClick="StartGame">
                                Start Game
                            </MudButton>
                        </MudPaper>
                    </MudListItem>
                </MudList>

            </MudPaper>
        </MudPaper>
    </div>
</div>

 
<style>
    .container {
        /* This ensures the container takes up the entire viewport */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* Center content vertically */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e5e9f4
    }

    .custom-label-color .mud-input-label {
        background-color: #e5e9f4 !important;
    } 
</style>