@page "/Game"

<PageTitle>Chain Reaction</PageTitle>
@if(gridOfCells is not null)
{
    <MudContainer Class="center-container">

        <MudPaper Class="d-flex flex-column gap pa-2" Elevation="1">
            @foreach (var item in gridOfCells)
            {
                <MudPaper Class="d-flex flex-row flex-grow-1 gap-0" Elevation="0">
                    @foreach (var cell in item)
                    {
                        <div @onclick="@(()=>UserClicked(cell))" >
                            <CellComponent cell="cell" />
                        </div>
                    }

                </MudPaper>
            }
        </MudPaper>

    </MudContainer>
}

<ToggleGraphicsComponent/>

<style>
    .center-container {
        display: flex;
        justify-content: center;
        align-items: center; 
        height:100vh;
    }
</style>